<html>
<head>
	<title>
		 A.I.T | LOGIN
	</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>



	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

 <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
      <div class="jumbotron">
        <h1>Hi! I am A.I.T.</h1>
        <p>Login to continue! Not a user, click on Register</p>
                <p><a class="btn btn-lg btn-success" href="/get-info/" role="button">REGISTER</a></p><br>
                                 <b>Visit the marketplace to add data</b><p><a class="btn btn-lg btn-success" href="/market_home/" role="button">MARKETPLACE</a></p>

<hr>
<h2>Enter your login details and click on Login</h2>
        <form action = "/login/" method="get">
  <div class="form-group">
  <label for="usr">Enter your Username</label>
  <input type="text" name="username" class="form-control" id="usr">
</div>
<div class="form-group">
  <label for="pwd">Your email</label>
  <input type="email" name="email" class="form-control" id="pwd">
</div>
<input type = "submit">
</font>
      </div>
          <h4><b>How am I different?</h4>
          <p>I create assignments and ask you to solve it. I behave like a teacher.<br>Every Sunday, I give you assignments and I create a scorecard. </p>
          <b>Vist my <a href="/market_home">MARKETPLACE</a> to add data, or install different packs to it. (Only for registered users)</b> 
       </div>
      <footer class="footer">
        <p>&copy; 2016 A.I.T Technologies</p>
      </footer>

    </div> <!-- /container -->

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">





</body>
</html>