<html>
<head>
	<title>
		A.I.T
	</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="mobile-web-app-capable" content="yes">
<body>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.4.0/annyang.min.js"></script>
<script>


function toggleFullScreen() {
  var doc = window.document;
  var docEl = doc.documentElement;

  var requestFullScreen = docEl.requestFullscreen || docEl.mozRequestFullScreen || docEl.webkitRequestFullScreen || docEl.msRequestFullscreen;
  var cancelFullScreen = doc.exitFullscreen || doc.mozCancelFullScreen || doc.webkitExitFullscreen || doc.msExitFullscreen;

  if(!doc.fullscreenElement && !doc.mozFullScreenElement && !doc.webkitFullscreenElement && !doc.msFullscreenElement) {
    requestFullScreen.call(docEl);
  }
  else {
    cancelFullScreen.call(doc);
  }
}

if (annyang) {
  // Let's define a command.
  var commands = {
    "Hi" : function() {alert("Hello, I am A.I.T!")},
    "Show me my data": function() {window.location = "/view/"} ,
    "Send me a worksheet":function() {window.location="/command?query=show"},
    "send me an assignment":function() {window.location="/command?query=show"},
    "who are you":function() {alert("I am A.I.T! I create assignments, I depict an actual teacher. I am created by Aadit Kapoor, (akapoorx00@gmail.com)")},
  };

  // Add our commands to annyang
  annyang.addCommands(commands);

  // Start listening.
  annyang.start();
}
</script>

 <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a></li>
           <li role="presentation" class="active"><a href="/exit-session/">Exit Session</a></li>
                      <br>

          </ul>
        </nav>
        <h3 class="text-muted"><b>A.I.T (Revise your school work with a  virtual teacher)</b></h3>
      </div>

                  <p align="right"><a class="btn btn-lg btn-success" href="#" onclick="toggleFullScreen()" role="button">Full Screen</a></p>
                  <p align="right"><a class="btn btn-lg btn-success" href="/market_home/" role="button">Marketplace</a></p>


      <div class="jumbotron">
        <h1>Hi! I am A.I.T.</h1>
        <p class="lead">I create assignments and ask you to solve it. I depict an actual teacher.
          <hr>
          {{ message }}

          Try speaking to me?<br>
          <ul>
            <li><b>You can try "send me an assignment"
              <li> You can try "send me a worksheet"
                <li> You can try "show me my data"</b>
            </ul></p>
            <hr>
          <h3><b>Please speak the commands as it is! This feature is created for faster processes.</b></h3>
        <p><a class="btn btn-lg btn-success" href="/teach/" role="button">Teach A.I.T</a></p>
        <p><a class="btn btn-lg btn-success" href="/feed/" role="button">Create an assignment (Subject wise)</a></p>
         <p><a class="btn btn-lg btn-success" href="/learn/" role="button">Learn a subjects with A.I.T</a></p>
                  <p><a class="btn btn-lg btn-success" href="command?query=show" role="button">Send me an assignment</a></p>



      </div>

      <div class="row marketing">
        {% if given %}
        <div class="col-lg-6">
          <b>USERNAME: </B> {{ username }}<br>
          <b>EMAIL: </b> {{email}}
        {% endif %}
          <h4><b>How am I different?</h4>
          <p>I create assignments and ask you to solve it. I behave like a teacher.<br>Every Sunday, I give you assignments and I create a scorecard. I recommend you add this app to homesceen(Chrome on Android) for better experience.</p>
       </div>
      <footer class="footer">
        <p>&copy; 2016 A.I.T Technologies (Aadit Kapoor, akapoorx00@gmail.com)</p>
      </footer>

    </div> <!-- /container -->

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">





</body>
</html>